*.o
main
.idea/.name
.idea/gl-TP.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.17.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.5/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.5/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.5/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.5/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.17.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/gl_TP.dir/build.make
cmake-build-debug/CMakeFiles/gl_TP.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/gl_TP.dir/CXX.includecache
cmake-build-debug/CMakeFiles/gl_TP.dir/depend.internal
cmake-build-debug/CMakeFiles/gl_TP.dir/depend.make
cmake-build-debug/CMakeFiles/gl_TP.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/gl_TP.dir/flags.make
cmake-build-debug/CMakeFiles/gl_TP.dir/lexer.cpp.obj
cmake-build-debug/CMakeFiles/gl_TP.dir/link.txt
cmake-build-debug/CMakeFiles/gl_TP.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/gl_TP.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/gl_TP.dir/objects.a
cmake-build-debug/CMakeFiles/gl_TP.dir/objects1.rsp
cmake-build-debug/CMakeFiles/gl_TP.dir/progress.make
cmake-build-debug/CMakeFiles/gl_TP.dir/symbole.cpp.obj
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/Progress/4
cmake-build-debug/CMakeFiles/Progress/count.txt
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/gl_TP.cbp
cmake-build-debug/gl_TP.exe
cmake-build-debug/Makefile
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
